<nav
  class="navbar navbar-expand-lg navbar-dark navbar"
  style="background-color: #718d97"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Task Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="about" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="project" href="#"
            >Projects</a
          >
        </li>
      </ul>

      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <!-- <span class="input-group-text" id="search">
              <i class="fa fa-search"></i>
            </span> -->
          </div>
          <input type="text" class="form-control" placeholder="Search" />
          <button class="btn btn-warning" type="button">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
